table {
    width: 100%;
}

th, td {
    padding: 5px 10px ;
}

th {
    text-align: left;
}

input {
    border: 1px solid black;
    text-align: center;
    width: 40px;
    padding-left: 8px;
}

button {
    border-radius: 4px;
    width: 60px;
    font-size: 12px;
    color: #fff;

}

.btn-update:hover {
    background-color: rgb(0, 0, 255, 0.4);
    color: rgb(0, 0, 255);
}

.btn-delete:hover {
    background-color: rgba(255, 0, 0, 0.3);
    color: #ff0000;
}
